.container {
  width: 90%;
  min-width: 1200px;
  margin: 0 auto;
}

header {
  box-shadow: 0 2px 4px #e2ebfc;
  background: #f5f9fe;
}
header .logo {
  color: #2a73dd;
}

nav a {
  color: #1d365e;
  transition: 0.3s;
  position: relative;
}
nav a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  background: #2a73dd;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
nav a:hover::before, nav a.active::before {
  width: 100%;
}
nav a:hover {
  color: #2a73dd;
}
nav a :active {
  color: #2a73dd;
}

.card {
  background-color: #f7f6f9;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 1850px;
  height: 900px;
  overflow: hidden;
  margin: auto;
  margin-top: 200px;
}
.card .max-w-xs:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.card .content .cart-overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.card .content .cart-overlay.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}
.card .content .cart-overlay .cart-content {
  position: fixed;
  top: 8%;
  left: 0;
  transform: translateX(-100%);
  background-color: white;
  padding: 50px;
  border-radius: 5px;
  transition: transform 0.3s ease;
  width: 400px;
  height: 900px;
}
.card .content .cart-overlay .cart-content h2 {
  text-align: left;
}
.card .content .cart-overlay .cart-content p {
  text-align: left;
}
.card .content .cart-overlay .cart-content #closeCart {
  margin-top: 10px;
}
.card .content .cart-overlay.active .cart-content {
  transform: translateX(0);
}
.card .content #product-list {
  justify-content: center;
  margin: auto;
  max-width: 1900px;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid red;
}
.card .content #product-filter {
  padding: 10px 20px;
  background-color: #2a73dd;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  margin-left: 290px;
  margin-top: 50px;
}
.card .content #product-filter:hover {
  background-color: #1d365e;
}/*# sourceMappingURL=index.css.map */