$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-blue-1: #2a73dd;
$color-blue-2: #1d365e;

// mixin
@mixin btn-theme($color1, $color2) {
  border-radius: 8px;
  padding: 15px 50px;
  background: $color1;
  color: $color2;
}
@mixin box-shadow-theme {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
}

.container {
  width: 90%;
  min-width: 1200px;
  margin: 0 auto;
}

header {
  box-shadow: 0 2px 4px $color-white-2;
  background: $color-white-1;
  .logo {
    color: $color-blue-1;
  }
}

nav {
  a {
    color: $color-blue-2;
    transition: 0.3s;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 0%;
      height: 3px;
      background: $color-blue-1;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.3s;
    }
    &:hover::before,
    &.active::before {
      width: 100%;
    }
    &:hover {
      color: $color-blue-1;
    }

    & :active {
      color: $color-blue-1;
    }
  }
}
// card
.card {
  background-color: #f7f6f9;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 1850px;
  height: 900px;
  overflow: hidden;
  margin: auto;
  margin-top: 200px;
  .max-w-xs {
    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
    }
  }

  .content {
    .cart-overlay {
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
    
      &.active {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease;
      }
    
      .cart-content {
        position: fixed;
        top: 8%;
        left: 0;
        transform: translateX(-100%);
        background-color: white;
        padding: 50px;
        border-radius: 5px;
        transition: transform 0.3s ease;
        width: 400px;
        height: 900px;
      
    
        h2 {
          text-align: left;
        }
    
        p {
          text-align: left;
        }
    
        #closeCart {
          margin-top: 10px;
        }
      }
    
      &.active .cart-content {
        transform: translateX(0);
      }
    }
    
    #product-list {
      justify-content: center;
      margin: auto;
      max-width: 1900px;
      background-color: #f8f8f8;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid red;
    }

    #product-filter {
      padding: 10px 20px;
      background-color: #2a73dd;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      outline: none;
      margin-left: 290px;
      margin-top: 50px;

      &:hover {
        background-color: #1d365e;
      }
    }
  }
}
